{% extends 'staffdash/index.html.twig' %}

{% block body %}

    <main id="main" class="main">

    <div class="pagetitle">
        <h1>Investment Managment</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('staff_app') }}">Home</a></li>

                <li class="breadcrumb-item active">investment</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                {% for invest in list %}
                <div class="col-lg-3">

                    <div class="card" style="width: 16rem;">
                        <img src="{{ asset('uploads/images/' ~ invest.image) }}" alt="...." class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">{{ invest.nomInvest }}</h5>
                            <p class="card-text">{{ invest.descriptionInvest }}</p>
                            <a href="{{ path('invedit_app', {'id': invest.id}) }}" class="btn btn-primary">Edit</a>
                            <a href="{{ path('invdelete_app', {'id': invest.id}) }}" class="btn btn-danger">Delete</a>
                            <a href="{{ path('invdetal_app') }}" class="btn btn-info">Details</a>
                        </div>
                    </div>
                </div>

                {% endfor %}



            </div>
        <a href="{{ path('invadd_app') }}" class="btn btn-primary mb-3">Add Service</a>

    </section>
    </main>
{% endblock %}